/* Sector Universal */
*{
   padding: 0 auto;
   margin: 0 auto;
}
/*  */

#contenedor{
width: 1200px;
height: 980x;
background-color: grey;
max-width: 0 auto;


}


#encabezado{
   height: 8%;
   background-color: #ddd;
   margin: 1em auto;
   margin-left: auto;
}

#menu{
   height: 5%;
   background-color: violet;
   margin: 1em auto;
}

#contenido{
  height: 70%;
  width: 61%;
  background-color: aquamarine;
  margin: 0.5em;
  float: left;
}

#seccion{
   width: 50%;
   height: 91%;
   background-color: pink;
   margin: 0.5em;
   float: left;
}
#fueraSeccion{
   height: 91%;
   width: 40%;
   background-color: chartreuse;
   margin: 0.5em;
   float: right;

}
#pie{
   height: 5%;
   background-color: darkgray;
   border-radius: 1em;
   margin: 1.5em;
}

/* Selector de class */
.texto{

   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: 15px;

}

.pagina{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

.encabezado_articulo{
   margin-top: 30px;
   text-align: center;
   background: black;
   color:aqua;
   margin: auto 2em;

}




.imagen{
   display: block;
   border: 1px solid #ddd;
   margin-left: 5%;
   width: 150px;
   margin-top: 15px;
   margin-left: auto;

}

/* Selector de etiqueta */
ul {

   text-align: center;
}

li{

   display: inline;
   padding-left: 6px;
   padding-right: 6px;
   
}

.pie{
  margin-top: 60%;
  margin-left: 50%;
}